html {
  background: url("images/backGround.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  padding:0;
}

.container {
  width: 800px;
  height: 530px;
  margin: auto;
  padding-left: 15px;
  padding-top: 10px;
  margin-top: 60px;
}

.blocks {
  width: 500px;
  height: 500px;
  border: none;
  padding-left: 15px;
  padding-top: 10px;
  float: left;
}

.block {
  display: inline-block;
  width:80px;
  height: 80px;
  border: 2px solid rgb(22, 21, 45);
  border-radius: 10px;
  margin-bottom: -5px;
  margin-left: -1px;
  background-color: rgba(67, 63, 123, 0.5);
}


.blockWinScreen {
  width: 500px;
  height: 500px;
  border: none;
  padding-left: 15px;
  padding-top: 10px;
  float: left;
  background-image: url("images/Win.jpg");
  background-size: cover;
  background-position: center;
}

#initRed {
  background-image: url("images/redKey.png");
  background-size: cover;
}

#endRed {
  background-image: url("images/redHole.png");
  background-size: cover;
}

#initBlue {
  background-image: url("images/blueKey.png");
  background-size: cover;
}

#endBlue {
  background-image: url("images/blueHole.png");
  background-size: cover;
}

#initGreen {
  background-image: url("images/greenKey.png");
  background-size: cover;
}

#endGreen {
  background-image: url("images/greenHole.png");
  background-size: cover;
}

#initPurple {
  background-image: url("images/purpleKey.png");
  background-size: cover;
}

#endPurple {
  background-image: url("images/purpleHole.png");
  background-size: cover;
}

#initYellow {
  background-image: url("images/yellowKey.png");
  background-size: cover;
}

#endYellow {
  background-image: url("images/yellowHole.png");
  background-size: cover;
}

#initAqua {
  background-image: url("images/aquaKey.png");
  background-size: cover;
}

#endAqua {
  background-image: url("images/aquaHole.png");
  background-size: cover;
}


.block.red {
  background-color: rgb(141,28,22);
}

.block.blue {
  background-color: rgb(1,21,78);
}

.block.green {
  background-color: rgb(44,71,27);
}

.block.purple {
  background-color: rgb(91,29,113);
}

.block.yellow {
  background-color: rgb(107,79,17);
}

.block.aqua {
  background-color: rgb(36,95,157);
}

.reset {
  width: 100px;
  height:40px;
  font-size:30px;
  border-radius: 5px;
  padding-top: 10px;
  text-align: center;
  margin-top: 10px;
  margin-left: 20px;
  background-color: black;
  display: block;
  position: absolute;;
}

.help {
  width: 100px;
  height:40px;
  font-size: 30px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  background-color: black;
  margin-left: 20px;
  margin-bottom: 70px;
  margin-top: 70px;
  display: block;
}

.helpScreen {
  width: 250px;
  height: 300px;
  background-color: black;
  float: right;
  margin-right: 20px;
  margin-top: 40px;
  text-align: center;
  color: rgb(91, 0, 0);
  font-size: 20px;
  font-weight: bold;
}

.backButton {
  width: 50px;
  height: 40px;
  margin: auto;
  margin-top: 10px;
  background-image: url("images/back.png");
  background-size: 90%;
}

.blank {
  border: none;
}

.starter {
  display: inline-block;
  width:80px;
  height: 80px;
  border: 2px solid rgb(22, 21, 45);
  border-radius: 10px;
  margin-bottom: -5px;
  margin-left: -1px;
  background-color: rgba(67, 63, 123, 0.5);
}


.timerDisplay {
  width: 80px;
  height: 40px;
  float: left;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  margin-left: 20px;
  color: white;
  font-size: 30px;
  background-color: black;
  padding-top: 5px;
}

.display {
  width: 250px;
  height: 150px;
  float: right;
  margin-top: 20px;
  background-image: url("images/unlock.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.display.win {
  background-image: url("images/win.png");
}

.display.lose {
  background-image: url("images/lose.jpg");
  background-size: cover;
}

.buttonNext {
  width: 50px;
  height: 50px;
  float: right;
  border: none;
  margin-top: 25px;
}

.buttonNext.win {
  background: url("images/next.png");
  background-size: cover;
  background-position: center;
}

.buttonReplay {
  width: 55px;
  height: 60px;
  float: right;
  border: none;
  margin-top: 20px;
  margin-right: 50px;
}

.buttonReplay.win {
  background: url("images/replay.png");
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}