.container {
  width: 700px;
  height: 530px;
  border: 1px solid black;
  margin: auto;
  padding-left: 15px;
  padding-top: 10px;
  margin-top: 50px;
/*  display: inline-block;*/
/*  float: left;*/
}

.blocks {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  padding-left: 15px;
  padding-top: 10px;
  float: left;
}

.block {
  display: inline-block;
  width:80px;
  height: 80px;
  border: 1px solid black;
  margin-bottom: -5px;
  margin-left: -1px;
}

#initRed {
  background-color: red;
}

#endRed {
  background-color: red;
}

#initBlue {
  background-color: blue;
}

#endBlue {
  background-color: blue;
}

#initGreen {
  background-color: green;
}

#endGreen {
  background-color: green;
}

.block.red {
  background-color: red;
}

.block.blue {
  background-color: blue;
}

.block.green {
  background-color: green;
}

.reset {
  width: 50px;
  height:30px;
  border: 1px solid black;
  margin: auto;
  padding-top: 10px;
  text-align: center;
  margin-top: 10px;
}

.help {
  width: 50px;
  height:30px;
  border: 1px solid black;
` padding-top: 10px;
  text-align: center;
}

.helpScreen {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  float: right;
  margin-right: 20px;
  margin-top: 40px;
  text-align: center;
}